@mobile-width: ~"(min-width: 300px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";
@mobile-and-tablet: ~"(max-width: 1199px)";
<<<<<<< HEAD
@mobile-only: ~"(max-width: 767px)";
@tablet-only: ~"(min-width: 768px) and (max-width: 1199px)";
=======
>>>>>>> 8388b4223d176b437a6c70a5f3f3084c780f5695

@violetred: #c71585;
@darcblue: #150449;
@bordercolor: #070326;
